<h1>Create your article!</h1>
<form method="post" action="/articles/<%= @article.id + 1 %>">
  <label for="title">Title:</label>
  <input type="text" name="title"><br>
  <label for="content">Content:</label>
  <input type="text" name="content"><br>
  <input type="submit" id="submit">
</form>
